.kiosk {
    display: grid;
    grid-template-columns: repeat(1fr, 2);
    grid-auto-rows: minmax(50px, auto);
    width: 100%;
    /* max-width: 1800px; */
    margin: 0 auto;
    /* padding: 0 10px; */
    /* background-color: lightblue; */
}

/******************** header ********************/
header {
    width: 250px;
    padding-left: 70px;  /* 왼쪽 마진 대체 */
    border-right: 1px solid #4f4c4b;
    /* background-color: lightcyan; */
}

.logo-mainmenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-right: 70px;
}

.logo > h1 {
    display: none;
}

.logo > img {
    width: 100px;
    margin: 0;
    margin-top: 40px;
    /* background-color: antiquewhite; */
}

.main-menu {
    margin: 0;
}

.main-menu > .gnb {
    width: 100%;
    margin-top: 75px;
    /* background-color: lightgreen; */
}

.main-menu > .gnb > li {
    margin-bottom: 28px;
}

.main-menu > .gnb > li > a {
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.main-menu > .gnb > li > a:hover {
    font-weight: 600;
    color: #ba000d;
}

.main-menu > .gnb > li > a.active {
    font-weight: 600;
    color: #ba000d;
}



/******************** main ********************/
main {
    width: 100%;
    /* background-color: lightgoldenrodyellow; */
}


/* ===== kiosk-content ===== */
/* .kiosk-content {
   
} */

.kiosk-content > .title {
    margin-top: 40px;
    margin-left: 20px;
}

.kiosk-content > .submenu-title-content {
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    margin: 0;
}
.kiosk-content .sub-title {
    margin-top: 20px;
    margin-left: 10px;
}
.kiosk-content .sub-title > ul {
    display: flex;
    justify-content: flex-start;
    /* background-color: lightblue; */
}

.kiosk-content .sub-title > ul > li {
    width: 175px;
    height: 55px;
    line-height: 55px;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 1.167rem;
    text-align: center;
    cursor: pointer;
    /* background-color: #ba000d; */
}

.kiosk-content .sub-title > ul > .selected {
    font-weight: 500;
    color: #fff;
    background-color: #ba000d;
}


/* ----- menu-content-box ----- */
.kiosk-content .menu-content-box {
    display: grid;
    grid-template-columns: repeat(6, minmax(12vw, 1fr));
    grid-auto-rows: minmax(100, auto);
    /* column-gap: 19.3px; */
    row-gap: 20px;
    overflow-y: scroll;
    width: 1650px;  
    height: 530px;
    padding: 25px 70px; /* padding-right 부분 => 오른쪽 마진 대체 */
    border-top-right-radius: 10px;
    background-color: #ba000d;
}

/* .kiosk-content .menu-content-box::-webkit-scrollbar {
    width: 30px; 
} */

.kiosk-content .menu-content-box::-webkit-scrollbar-track {
    background-color: #ba000d; /* 스크롤바 트랙 배경색 */
}

/* .kiosk-content .menu-content-box::-webkit-scrollbar-thumb {
    background-color: #4f4c4b;
    border-radius: 5px; 
    border: 3px solid #ba000d;
} */


.kiosk-content .menu-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 230px;  
    height: 230px; 
    border-radius: 10px;
    text-align: center;
    background-color: #fff;
    cursor: pointer;
}

.kiosk-content .hidden {
    display: none;
}

.kiosk-content .menu-list > img {
    width: 170px;
}

.kiosk-content .menu-list > .product-price {
    margin-top: 20px;
    font-weight: 500;
}
 

/* ===== kiosk-order-info ===== */
/* ----- order-info-content ----- */
.kiosk-order-info {
    display: flex;
    width: 100%;
    height: 190px;
    border-top: 1px solid #4f4c4b;
    background-color: #fff;
}

.kiosk-order-info > .order-info-content {
    width: 1230px;  
    height: 100%;
    overflow-y: scroll;
    border-right: 1px solid #4f4c4b;
}

.kiosk-order-info .order-list {
    display: none;
    align-items: center;
    padding: 6px 38px;
    border-bottom: 1px solid #ccc;
    /* background-color: lightgreen; */
}
.kiosk-order-info .order-info-content::-webkit-scrollbar {
    width: 7px; /* 스크롤바 너비 */
}

.kiosk-order-info .order-info-content::-webkit-scrollbar-track {
    background-color: #fff; /* 스크롤바 트랙 배경색 */
}

.kiosk-order-info .order-info-content::-webkit-scrollbar-thumb {
    background-color: #4f4c4b; /* 스크롤바 색상 */
    border-radius: 5px; /* 스크롤바 모양 */
}

.kiosk-order-info .order-list > div {
    margin: 0;
    font-size: 1rem;
}

.kiosk-order-info .order-list > .product {
    margin-right: 585px; 
    width: 280px; 
    /* background-color: lightblue; */
}

.kiosk-order-info .order-list > .amount {
    display: flex;
    align-items: center;
    width: 97px;  
    margin-right: 140px; 
    /* background-color: lightblue; */
}

.kiosk-order-info .order-list > .amount > button {
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 2px;
    color: #fff;
    background-color: #4f4c4b;
    cursor: pointer;
}

.kiosk-order-info .order-list .price {
    width: 100px;
    /* background-color: lightblue; */
}

.kiosk-order-info .order-list > .cancel {
    width: 18px;
    height: 18px;
    margin-left: 25px;
    transform: translateY(2px);
    cursor: pointer;
    /* background-color: bisque; */
}

.kiosk-order-info .order-list > .cancel > .x {
    width: 100%;
    height: 1px;
    transform-origin: center;
    background-color: #000;
}

.kiosk-order-info .order-list > .cancel > span:first-child {
    transform: translateY(8px) rotate(45deg);
}

.kiosk-order-info .order-list > .cancel > span:last-child {
    transform: translateY(7px) rotate(-45deg);
}

/* ----- ttlcontent-button ----- */
.kiosk-order-info > .ttlcontent-button {
    height: 100%;
    padding: 20px 70px;  /* padding-right 부분 => 오른쪽 마진 대체 */
    /* background-color: lightcyan; */
}

/* ----- ttlcontent-button > ttl-content ----- */
/* .kiosk-order-info > .ttl-content {
} */

.kiosk-order-info .ttl-content > table {
    width: 300px;
}

.kiosk-order-info .ttl-content > table td {
    font-size: 1.167rem;
}

.kiosk-order-info .ttl-content > table .content-name {
    font-weight: 600;
}

.kiosk-order-info .ttl-content > table .ttl {
    text-align: right;
}

/* ----- ttlcontent-button > btn-box ----- */
.kiosk-order-info .btn-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70px;
    margin-top: 10px;
    /* background-color: antiquewhite; */
}

.kiosk-order-info .btn-box > button {
    width: 140px;
    height: 100%;
    border: none;
    border-radius: 15px;
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 400;
    font-size: 1.167rem;
    color: #fff;
    cursor: pointer;
}

.kiosk-order-info .btn-box > .cancel-btn {
    background-color: #4f4c4b;
}

.kiosk-order-info .btn-box > .order-btn {
    background-color: #ba000d;
}

/******************** footer ********************/
footer {
    grid-column: 1 / span 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #ba000d;
}

.footerlogo-box {
    display: flex;
    align-items: center;
}

.footerlogo-box img {
    width: 25px;
    margin: 0;
}

.footerlogo-box .logo-txt {
    margin-left: 10px;
    font-weight: 500;
    font-size: 1.333rem;
    color: #fff;
}